<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>卫戍区东城第四干休所派车管理系统</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="../../static/css/font.css">
<link rel="stylesheet" href="../../static/css/xadmin.css">
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script src="../../static/lib/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../../static/js/xadmin.js"></script>
<!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>
	<div class="x-nav">
		<span class="layui-breadcrumb"> <a href="">首页</a> <a href="">车辆管理</a>
			<!--            <a><cite>导航元素</cite></a>-->
		</span> 
		<a class="layui-btn layui-btn-small"
			style="line-height: 1.6em; margin-top: 3px; float: right"
			onclick="location.reload()" title="刷新"> <i
			class="layui-icon layui-icon-refresh" style="line-height: 30px"></i></a>
	</div>
	<div class="layui-fluid">
		<div class="layui-row layui-col-space15">
			<div class="layui-col-md12">
				<div class="layui-card">
					<div class="layui-card-body ">
						<form class="layui-form layui-col-space5">
							<div class="layui-inline layui-show-xs-block">
								<label for="" class="layui-form-label"> <span
									class="x-red"></span>车牌号
								</label>
								<div class="layui-input-inline">
									<select id="carNo" name="carNo" lay-search>
										<option value="">请选择</option>
									</select>
								</div>
							</div>
							<div class="layui-inline layui-show-xs-block">
								<label for="" class="layui-form-label"> <span
									class="x-red"></span>驾驶员
								</label>
								<div class="layui-input-inline">
									<select id="carDriverId" name="carDriverId" lay-search>
										<option value="">请选择</option>
									</select>
								</div>
							</div>
							<div class="layui-inline layui-show-xs-block" hidden>
								<label for="" class="layui-form-label"> <span
									class="x-red"></span>车型
								</label>
								<div class="layui-input-inline">
									<select id="carType" name="carType">
										<option value="">请选择</option>
									</select>
								</div>
							</div>
							<div class="layui-inline layui-show-xs-block">
								<label for="" class="layui-form-label"> <span
									class="x-red"></span>车辆状态
								</label>
								<div class="layui-input-inline">
									<select id="status" name="status">
										<option value="">请选择</option>
									</select>
								</div>
							</div>
							<div class="layui-inline layui-show-xs-block">
								<input type="button" class="layui-btn" onclick="buttonselect()"
									value="查询" />
							</div>
						</form>
					</div>
					<div>
						<div class="layui-card-header">
							 <!--<button class="layui-btn layui-btn-danger" onclick="delAll()">
								<i class="layui-icon"></i>批量删除
							</button> -->
							<button class="layui-btn"
								onclick="xadmin.open('添加车辆','/caradd',500,550)">
								<i class="layui-icon"></i>添加
							</button>
						</div>
					</div>
					<div class="layui-card-body layui-table-body layui-table-main">
						<table class="layui-table layui-form">
							<thead>
								<tr>
									<!-- <th>批量操作</th> -->
									<th>车牌号</th>
									<th>驾驶员</th>
									<th>车型</th>
									<th>车辆状态</th>
									<th>新增日期</th>
<!--									<th>备注</th>-->
									<th>操作</th>
								</tr>
							</thead>
							<tbody id="tab">
								
							</tbody>
						</table>
					</div>
					<div class="layui-card-body ">
						<div class="page">
							<div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
//table.render
     layui.use('form', function() {
		 var form = layui.from;
		 /* form.render(); */
		 $.ajax({
			 url: '/TCar/tcarNo',
			 dataType: 'json',
			 type: 'get',
			 success: function (data) {
				 console.log("carNo", data.data);

				 $.each(data.data, function (index, item) {
					 $('#carNo').append(
							 new Option(item.carNo, item.carNo));// 下拉菜单里添加元素
				 });

				 //重新渲染 固定写法
				 layui.form.render("select");
			 }
		 })

		 $.ajax({
			 url: '/TCar/tcarType',
			 dataType: 'json',
			 type: 'get',
			 success: function (data) {
				 console.log("Cartype", data.data);

				 $.each(data.data, function (index, item) {
					 $('#carType').append(
							 new Option(item.typeName, item.typeNum));// 下拉菜单里添加元素
				 });

				 //重新渲染 固定写法
				 layui.form.render("select");
			 }
		 })

		 $.ajax({
			 url: '/TCar/tcarStatus',
			 dataType: 'json',
			 type: 'get',
			 success: function (data) {
				 console.log(data.data);

				 $.each(data.data, function (index, item) {
					 $('#status').append(
							 new Option(item.statusName, item.statusNum));// 下拉菜单里添加元素
				 });

				 //重新渲染 固定写法
				 layui.form.render("select");
			 }
		 })

		 $.ajax({
			 url: '/TDriver/tdriverName',
			 dataType: 'json',
			 type: 'get',
			 success: function (data) {
				 console.log(data.data);
				 $.each(data.data, function (index, item) {
					 $('#carDriverId').append(
							 new Option(item.driverName,
									 item.driverId));// 下拉菜单里添加元素
				 });

				 //重新渲染 固定写法
				 layui.form.render("select");
			 }
		 })

		 ///-----
		 $.ajax({
			 type: "GET",
			 url: "/TCar/findAll",
			 dataType: "json",
			 success: function (data) {
				 console.log(data.data);
				 var u = data.data;
				 for (var i = 0; i < u.length; i++) {

					 var t = Format(u[i].createDate, "yyyy-MM-dd HH:mm:ss");
					 //<td><input type=\"checkbox\" name=\"id\" value='2' class=\"\" lay-skin=\"primary\"</td>
					 var s = "<tr><td>" + u[i].carNo + "</td><td>" + u[i].driverName + "</td><td>" + u[i].typeName + "</td>" +
							 "<td>";
							 if(u[i].statusName==='待命'){
							 	s+="<span class=\"layui-btn layui-btn-danger\">" + u[i].statusName + "</span>" ;
							 } else if (u[i].statusName==='待勤') {
								 s+="<span class=\"layui-btn layui-btn-normal layui-btn-mini\">" + u[i].statusName + "</span>" ;
							 } else if (u[i].statusName==='在勤') {
								 s+="<span class=\"layui-btn layui-btn-warm\">" + u[i].statusName + "</span>" ;
							 }
							 s+="</td><td>" + t + "</td>" +
							 "<td hidden>" + u[i].remark + "</td>" +
							 "<td class='td-manage'><a title='编辑'  onclick=\"xadmin.open('编辑','/carupdateid?id=" + u[i].carId + "',600,600)\" href='javascript:;'\"><i class='layui-icon'>&#xe642;</i></a><a title='删除' onclick=\"member_del(this,"
							 + u[i].carId + ")\" href=\"javascript:;\"><i class='layui-icon'>&#xe640;</i></a></td></tr>";
					 $("#tab").append(s);
				 }
			 }
		 })
	 })

	/*用户-删除*/
	function member_del(obj,id) {
						layer.confirm('确认要删除吗？', function(index) {
							//alert(id);
								$.ajax({
									type : "delete",
									url : "/TCar/tcardelect/"+id,
									data : {
										
									},
									cache : true,
									async : true,
									success: function (data){
							        	if(data.code!=20000){
											layer.msg(data.message);
										}else{
											//发异步删除数据
											$(obj).parents("tr").remove();
                                            layer.msg('已删除!', {
                                                icon : 1,
                                                time : 1000
                                            });
										}
								    },
							        error:function () {      

							        }
									
								});



							
						});
					}

	/*多条件查询*/
	function buttonselect() {
							var carNo = $("#carNo").val();
							var carDriverId = $("#carDriverId").val();
							var carType = $("#carType").val();
							var status = $("#status").val();
							console.log(carNo,carType,status);
							$.ajax({
										url : "/TCar/tcarselect",
										type : 'post',
										dataType : "JSON",
										data : {
											'carNo' : carNo,
											'carDriverId' : carDriverId,
											'carType' : carType,
											'status' : status
										},
										async : false,
										success : function(data) {
											
											console.log(data.data);
											$("#tab").empty("");
							                  var u = data.data;
							                   for(var i = 0; i < u.length; i++) {
							                	   
							                	   var t = Format(u[i].createDate,"yyyy-MM-dd HH:mm:ss"); 
							                	  //<td><input type=\"checkbox\" name=\"id\" value='2' class=\"\" lay-skin=\"primary\"</td>
							                      var s = "<tr><td>"
							                      +u[i].carNo + "</td><td>" 
							                      +u[i].driverName + "</td><td>"
							                      +u[i].typeName + "</td><td><span class=\"layui-btn layui-btn-normal layui-btn-mini\">"
							                      +u[i].statusName + "</span></td><td>"
							                      +t+ "</td><td hidden>"
							                      +u[i].remark + "</td><td class='td-manage'><a title='编辑'  onclick=\"xadmin.open('编辑','/carupdateid?id="
							                      +u[i].carId+"',600,600)\" href='javascript:;'\"><i class='layui-icon'>&#xe642;</i></a><a title='删除' onclick=\"member_del(this,"
							                      +u[i].carId+")\" href=\"javascript:;\"><i class='layui-icon'>&#xe640;</i></a></td></tr>";
							                      $("#tab").append(s);
												}
											
										}		
									}) 
						}
    
	function delAll(argument) {
						var ids = [];

						// 获取选中的id
						$('tbody input').each(function(index, el) {
							if ($(this).prop('checked')) {
								ids.push($(this).val())
							}
						});

						layer.confirm('确认要删除吗？' + ids.toString(), function(
								index) {
							//捉到所有被选中的，发异步进行删除
							layer.msg('删除成功', {
								icon : 1
							});
							$(".layui-form-checked").not('.header').parents(
									'tr').remove();
						});
					}

	function Format(now,mask) {
			    var d = new Date(now);
			            var zeroize = function (value, length)
			            {
			                if (!length) length = 2;
			                value = String(value);
			                for (var i = 0, zeros = ''; i < (length - value.length); i++)
			                {
			                    zeros += '0';
			                }
			                return zeros + value;
			            };
			            return mask.replace(/"[^"]*"|'[^']*'|\b(?:d{1,4}|m{1,4}|yy(?:yy)?|([hHMstT])\1?|[lLZ])\b/g, function ($0)
			            {
			                switch ($0)
			                {
			                    case 'd': return d.getDate();
			                    case 'dd': return zeroize(d.getDate());
			                    case 'ddd': return ['Sun', 'Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat'][d.getDay()];
			                    case 'dddd': return ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][d.getDay()];
			                    case 'M': return d.getMonth() + 1;
			                    case 'MM': return zeroize(d.getMonth() + 1);
			                    case 'MMM': return ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][d.getMonth()];
			                    case 'MMMM': return ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][d.getMonth()];
			                    case 'yy': return String(d.getFullYear()).substr(2);
			                    case 'yyyy': return d.getFullYear();
			                    case 'h': return d.getHours() % 12 || 12;
			                    case 'hh': return zeroize(d.getHours() % 12 || 12);
			                    case 'H': return d.getHours();
			                    case 'HH': return zeroize(d.getHours());
			                    case 'm': return d.getMinutes();
			                    case 'mm': return zeroize(d.getMinutes());
			                    case 's': return d.getSeconds();
			                    case 'ss': return zeroize(d.getSeconds());
			                    case 'l': return zeroize(d.getMilliseconds(), 3);
			                    case 'L': var m = d.getMilliseconds();
			                        if (m > 99) m = Math.round(m / 10);
			                        return zeroize(m);
			                    case 'tt': return d.getHours() < 12 ? 'am' : 'pm';
			                    case 'TT': return d.getHours() < 12 ? 'AM' : 'PM';
			                    case 'Z': return d.toUTCString().match(/[A-Z]+$/);
			                    // Return quoted strings with the surrounding quotes removed
			                    default: return $0.substr(1, $0.length - 2);
			                }
			            });
			        };
</script>
</html>
